version: 2.1

environment: &base-env
  NPM_CONFIG_PROGRESS: 'false'
  NPM_CONFIG_LOGLEVEL: warn

install-deps: &install-deps
  run:
    name: Install Dependencies
    command: npm ci && npm run bootstrap

executors:
  node-container-lts:
    docker:
      - image: node:16
        environment: *base-env

  node-container-latest:
    docker:
      - image: node:17
        environment: *base-env

commands:
  lint-and-test:
    steps:
      - checkout
      - *install-deps
      - run:
          name: Run Linter
          command: npm run lint
      - run:
          name: Run Tests
          command: npm run test

  test-built-app:
    steps:
      - checkout
      - *install-deps
      - run:
          name: Run Tests
          command: |
            FORMER_CWD="$(pwd)"
            PROJECT=test-$(date +%s)
            mkdir "${TMPDIR}/${PROJECT}"
            cd "${TMPDIR}/${PROJECT}"
            node "${FORMER_CWD}/packages/contentful--create-contentful-app/lib/index.js" init test
            cd test
            npm t
  build:
    steps:
      - checkout
      - *install-deps
      - run:
          name: Run build
          command: npm run build

  prepare-release:
    steps:
      - checkout
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - run: git config --global user.email "tech-accounts+gh+whydah-gally@contentful.com"
      - run: git config --global user.name "whydah-gally"
      - run: npm ci && npm run bootstrap

jobs:
  release:
    docker:
      - image: circleci/node:12
    steps:
      - prepare-release
      - run: npm run version
      - run: npm run publish

  release-canary:
    docker:
      - image: circleci/node:12
    steps:
      - prepare-release
      - run: npm run publish:canary

  lint-and-test-lts:
    executor: node-container-lts
    steps:
      - lint-and-test

  lint-and-test-latest:
    executor: node-container-latest
    steps:
      - lint-and-test

  test-built-app-lts:
    executor: node-container-lts
    steps:
      - test-built-app

  test-built-app-latest:
    executor: node-container-latest
    steps:
      - test-built-app

workflows:
  version: 2

  test:
    jobs:
      - lint-and-test-lts
      - test-built-app-lts:
          requires:
            - lint-and-test-lts

      - release:
          filters:
            branches:
              only: master
          requires:
            - test-built-app-lts


      - release-canary:
          filters:
            branches:
              only: canary
          requires:
            - test-built-app-lts

      - lint-and-test-latest
      - test-built-app-latest:
          requires:
            - lint-and-test-latest
