version: 2.1

orbs:
  vault: contentful/vault@1
  nx: nrwl/nx@1.6.1

environment: &base-env
  NPM_CONFIG_PROGRESS: 'false'
  NPM_CONFIG_LOGLEVEL: warn

executors:
  node-container-14:
    docker:
      - image: cimg/node:14.15.0
        environment: *base-env

  node-container-16:
    docker:
      - image: cimg/node:16.14.0
        environment: *base-env

  node-container-18:
    docker:
      - image: cimg/node:18.12.0
        environment: *base-env

commands:
  install-deps:
    steps:
      - run:
          name: Install Dependencies
          command: npm ci

  build:
    steps:
      - run:
          name: Build
          command: npm run build

  lint-and-test:
    steps:
      - checkout
      - install-deps
      - build
      - run:
          name: Run Linter
          command: npm run lint
      - run:
          name: Run Tests
          command: npm run test

  test-built-app:
    steps:
      - checkout
      - install-deps
      - build
      - run:
          name: Run Tests
          command: |
            FORMER_CWD="$(pwd)"
            PROJECT=test-$(date +%s)
            mkdir "/tmp/${PROJECT}"
            cd "/tmp/${PROJECT}"
            node "${FORMER_CWD}/packages/contentful--create-contentful-app/lib/index.js" --typescript test
            cd test
            npm t

  prepare-release:
    steps:
      - checkout
      - vault/get-secrets:
          template-preset: 'semantic-release'
      - vault/configure-lerna
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - install-deps
      - build

jobs:
  release:
    executor: node-container-16
    steps:
      - prepare-release
      - run: npm run version
      - run: npm run publish

  release-canary:
    executor: node-container-16
    steps:
      - prepare-release
      - run: npm run version:canary
      - run: npm run publish:canary

  lint-and-test-14:
    executor: node-container-14
    steps:
      - lint-and-test

  lint-and-test-16:
    executor: node-container-16
    steps:
      - lint-and-test

  lint-and-test-18:
    executor: node-container-18
    steps:
      - lint-and-test

  test-built-app-14:
    executor: node-container-14
    steps:
      - test-built-app

  test-built-app-16:
    executor: node-container-16
    steps:
      - test-built-app

  test-built-app-18:
    executor: node-container-18
    steps:
      - test-built-app

workflows:
  test:
    jobs:
      - lint-and-test-14:
          context:
            - vault
      - test-built-app-14:
          context:
            - vault
          requires:
            - lint-and-test-14

      - lint-and-test-16:
          context:
            - vault
      - test-built-app-16:
          context:
            - vault
          requires:
            - lint-and-test-16

      - lint-and-test-18:
          context:
            - vault
      - test-built-app-18:
          context:
            - vault
          requires:
            - lint-and-test-18

      - release:
          context:
            - vault
          filters:
            branches:
              only: master
          requires:
            - test-built-app-14
            - test-built-app-16
            - test-built-app-18

      - release-canary:
          context:
            - vault
          filters:
            branches:
              only: canary
          requires:
            - test-built-app-14
            - test-built-app-16
            - test-built-app-18
