version: 2.1

environment: &base-env
  NPM_CONFIG_PROGRESS: 'false'
  NPM_CONFIG_LOGLEVEL: warn

install-deps: &install-deps
  run:
    name: Install Dependencies
    command: npm ci && npm run bootstrap

executors:
  node-container-lts:
    docker:
      - image: cimg/node:16.14
        environment: *base-env

  node-container-latest:
    docker:
      - image: cimg/node:current
        environment: *base-env

commands:
  lint-and-test:
    steps:
      - checkout
      - *install-deps
      - run:
          name: Run Linter
          command: npm run lint
      - run:
          name: Run Tests
          command: npm run test

  test-built-app:
    steps:
      - checkout
      - *install-deps
      - run:
          name: Run Tests
          environment:
            USE_LINKED_TEMPLATE: 1
          command: |
            FORMER_CWD="$(pwd)"
            PROJECT=test-$(date +%s)
            mkdir "/tmp/${PROJECT}"
            cd "/tmp/${PROJECT}"
            node "${FORMER_CWD}/packages/contentful--create-contentful-app/lib/index.js" init test
            cd test
            npm t
  build:
    steps:
      - checkout
      - *install-deps
      - run:
          name: Run build
          command: npm run build

  prepare-release:
    steps:
      - checkout
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - run: git config --global user.email "tech-accounts+gh+whydah-gally@contentful.com"
      - run: git config --global user.name "whydah-gally"
      - run: npm ci && npm run bootstrap

jobs:
  dependency-check:
    executor: node-container-lts
    steps:
      - checkout
      - *install-deps
      - run:
          name: Merge Pull Request
          command: node ./scripts/dependency-check/merge-pull-request.js
      - run:
          name: Create Dependency Check sandbox
          command: mkdir -p ./dependency-check
      - run:
          name: Create Package JSON
          command: node ./scripts/dependency-check/create-manifest-from-template
      - run:
          name: Install packages
          working_directory: ./dependency-check
          command: npm install
      - run:
          name: Check Outdated
          working_directory: ./dependency-check
          command: (npm outdated --json || true) > ./outdated.json
      - run:
          name: Create new template
          command: node ./scripts/dependency-check/create-template-from-outdated
      - run:
          name: Run Tests and Produce Reports
          environment:
            USE_LINKED_TEMPLATE: 1
          command: |
            FORMER_CWD="$(pwd)"
            PROJECT=test-$(date +%s)
            mkdir "/tmp/${PROJECT}"
            cd "/tmp/${PROJECT}"
            node "${FORMER_CWD}/packages/contentful--create-contentful-app/lib/index.js" init test
            cd test
            (npm t || true) 1>"${FORMER_CWD}/dependency-check/test-report" 2>&1
      - run:
          name: Create Pull Request
          command: node ./scripts/dependency-check/create-pull-request
      - run:
          name: Cleanup
          command: rm -rf ./dependency-check

  release:
    docker:
      - image: cimg/node:16.14
    steps:
      - prepare-release
      - run: npm run version
      - run: npm run publish

  release-canary:
    docker:
      - image: cimg/node:16.14
    steps:
      - prepare-release
      - run: npm run publish:canary

  lint-and-test-lts:
    executor: node-container-lts
    steps:
      - lint-and-test

  lint-and-test-latest:
    executor: node-container-latest
    steps:
      - lint-and-test

  build:
    executor: node-container-latest
    steps:
      - build

  test-built-app-lts:
    executor: node-container-lts
    steps:
      - test-built-app

  test-built-app-latest:
    executor: node-container-latest
    steps:
      - test-built-app

workflows:
  version: 2

  scheduled-dependency-check:
    triggers:
      - schedule:
          # Run each day at midnight
          cron: '0 0 * * *'
          filters:
            branches:
              only:
                - master
                - canary
    jobs:
      - dependency-check

  test:
    jobs:
      - lint-and-test-lts
      - test-built-app-lts:
          requires:
            - lint-and-test-lts
      - build

      - release:
          filters:
            branches:
              only: master
          requires:
            - test-built-app-lts
            - build


      - release-canary:
          filters:
            branches:
              only: canary
          requires:
            - test-built-app-lts
            - build

      - lint-and-test-latest
      - test-built-app-latest:
          requires:
            - lint-and-test-latest

